nav(class='navbar navbar-default navbar-fixed-top')
  div(class='container')
    div(class='navbar-header')
      button(class='navbar-toggle' type='button' data-toggle='collapse' data-target='#navbar-main')
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
          
      a(class='navbar-brand' href='/') GitScout
      
    center
      div(class='navbar-collapse collapse' id='navbar-main')
        ul(class='nav navbar-nav')
          li
            form(action='/location' method='post' class='navbar-form' role='form')
              div(class='form-group')
                input(type='text' name='loc' class='form-control')
              div(class='form-group')
                input(type='submit' class='btn btn-default' value='Go')
          li
            form(action='/sort' method='post' class='navbar-form' role='form')
              div(class='form-group')
                select(name='sortKey' class='form-control')
                  option(value='Gists') Gist
                  option(value='Repositories') Repositories
                  option(value='Followers') Followers
                  option(value='Following') Following
              div(class='form-group')
                input(type='submit' class='btn btn-default' value='Sort')
        
        ul(class='nav navbar-nav navbar-right')
          li
              div(class='form-group')
              span
                span(class='label label-primary') Highlight:
                label(class='checkbox-inline' for='highlight') 
                  input(type='checkbox' onchange='handleChange(this);')
                  span Gist
                label(class='checkbox-inline' for='highlight')
                  input(type='checkbox' onchange='handleChange(this);')
                  span Repositories
                label(class='checkbox-inline' for='highlight')
                  input(type='checkbox' onchange='handleChange(this);')
                  span Followers
                label(class='checkbox-inline' for='highlight')
                  input(type='checkbox' onchange='handleChange(this);')
                  span Following
                  
        
          
